* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.imac {
    margin: 0 auto;
    width: 100%;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#screen-container {
    width: 200px;
    height: 140px;
    flex: 1;
}

#screen-border {
    width: 100%;
    height: 115px;
    background-image: linear-gradient(to top right, #030303, #3D3D3E,#030303);
    border-radius: 6px 6px 0 0;
    padding: 10px;
}

#screen-content {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    background-image: linear-gradient(to top right, #0a5b8a, #3e96c9,#0a5b8a);
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-content i{
    color: #E1E2E4;
    flex: 1;
    font-size: 2em;
    text-align: center;
    text-shadow: 0px 1px 2px #0a5b8a;
}

#screen-footer {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to right, #A5A6AA, #E1E2E4);
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-footer i{
    flex: 1;
    font-size: 0.8em;
    text-align: center;
    color: linear-gradient(to top right, #030303, #3D3D3E,#030303);
}

#base{
    flex: 1;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#base-back{
    width: 50px;
    height: 30px;
    background-image: linear-gradient(to top, #7A7B7F, #F3F3F3, #C8C9CD, #A9AAAE,#A9AAAE, #7A7B7F );
    transform: perspective(2em) rotateX(10deg);
    z-index: -1;
    margin-top: -2px;
}

#base-footer{
    width: 62px;
    height: 6px; 
    margin: -2px;
    background-image: linear-gradient(to top, #7A7B7F, #F3F3F3, #C8C9CD, #A9AAAE,#A9AAAE, #7A7B7F );
    transform: perspective(1em) rotateX(52deg);
}